<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <title>Test Seite</title>
</head>

<body>
    <h1>Zugverfolgung DMS</h1>
    <h2>Admin Tool</h2>

    <br>
    <p>Hier entsteht das Admin-Tool! <br><br> Logs:</p>

        <table id="logContainer">
            <tr>
              <th class="smolCollumn">Zeitpunkt</th>
              <th class="smolCollumn">Typ</th>
              <th>Nachricht</th>
            </tr>
          </table>
</body>

</html>